      <div class="row">
        <div class="col s3">
        </div>
        <div class="col s6">
          <% @articles.each do |article| %>
          <div class="card">
            <div class="card-image">
              <%= image_tag article.image %>
              <span class="card-title"><%= article.title %></span>
            </div>
            <div class="card-content">
              <p><%= simple_format(article.detail) %></p>
            </div>
            <div class="card-action">
              <%= link_to "more", article_path(article) %>
              <%= link_to "edit", edit_article_path(article) %>
              <%= link_to "delete", article_path(article), method: :delete %>
            </div>
          </div>
          <% end %>
        </div>
        <div class="col s3">
          <div class="fixed-action-btn">
            <a class="btn-floating btn-large waves-effect waves-light blue right" href="/articles/new">
              <i class="material-icons">mode_edit</i>
            </a>
          </div>
        </div>
      </div>
      <%= paginate @articles %>